<ngx-smart-modal #loginModal identifier='loginModal'>
    <form [formGroup]="form" (ngSubmit) = "proceedLogin(form.controls['emailField'].value, form.controls['passwordField'].value)" class="wrapper-form">
        <label class="label">Email</label>
            <input
                class="form-input" 
                type="email"
                [value] = "email"
                formControlName="emailField"
                readonly
            />

            <input 
                class="form-input"
                type="password"
                placeholder="password"
                formControlName="passwordField"
            />
            <a class="redirectionLink" (click) = "redirectToForgotPassword()">forgot your password?</a>
            <button class="submit-btn" type="submit" [disabled] = "!form.valid">Continue</button>
    </form>

    <p class="policyText">By signing in to your account, you agree to our <a href="#"> Privacy & Cookie Policy</a> and <a href="#">Terms & Conditions</a>.</p>
    <button (click)="closeOverlay()">GO BACK</button>
</ngx-smart-modal>

