<div class="modal-wrapper">
    <div mat-dialog-actions class="exit-btn">
        <mat-icon>
            <span class="material-symbols-outlined icon">
                chevron_left
            </span>
        </mat-icon>
        <button (click)="closeOverlay()">GO BACK</button>
    </div>
    <h4 mat-dialog-title> Forgot Your Password?  </h4>
    <p>If you've forgotten your password, please enter your registered email address.</p>
    <p>We'll send you a link to reset your password.</p>
    <form mat-dialog-content [formGroup]="form" (ngSubmit) = "submitForgotPassword(form.controls['passwordField'].value)" class="wrapper-form">
        <label class="label">Email</label>
    
        <div class="non-editable">
            <input
            class="form-input" 
            type="email"
            [value] = "email"
            formControlName="emailField"
            readonly
            />
    
            <button type="button" class="edit-icon" (click)="closeOverlay()">
                <mat-icon >
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </mat-icon>
            </button>
        </div>
         <div class="btn-container">
             <button class="cancel-btn" type="button" >Cancel</button>
             <button class="submit-btn" type="submit" [disabled] = "!form.valid">Continue</button>
         </div>   
         <a class="redirectionLink" (click) = "redirectToSMSflow()">Reset password via phone number</a>
    </form>
    
    <p mat-dialog-content class="policyText">By creating your account, you agree to our <a href="#"> Privacy & Cookie Policy</a> and <a href="#">Terms & Conditions</a>.</p>    
</div>
