/* You can add global styles to this file, and also import other style files */
/* import other CSS files */
@import './app/shared/styles/form.elements.css';
@import './app/shared/styles/link.css';
@import './app/shared/styles/modal-wrapper.css';

/* body & html generic styles */
body, html{
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif !important;
    max-height: 100%;
    /* position: relative; */
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth !important;

}
