<footer>
    <div class="info-footer">

        <div class="company-info">
            <h6>COMPANY INFO</h6>
            <ul>
                <li><a href="#">About KShop</a></li>
                <li><a href="#">Responsibility</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>

        <div class="help-support">
            <h6>HELP & SUPPORT</h6>
            <ul>
                <li><a href="#">Shipping info</a></li>
                <li><a href="#">Return</a></li>
                <li><a href="#">Refund</a></li>
                <li><a href="#">Track Order</a></li>
            </ul>
        </div>

        <div class="customer-care">
            <h6>CUSTOMER CARE</h6>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Bonus Points</a></li>
            </ul>
        </div>

        <div class="contact-us">
            <h6>FIND US ON</h6>
            <!-- add social media here -->
            <h6>SIGN UP FOR SHEIN STYLE NEWS</h6>
            <form>
            <input type="text"/>
        </form>
        <p>By clicking the SUBSCRIBE button, you are agreeing to our <a href="#">Privacy & Cookie Policy</a> </p>
        <h6>WE ACCEPT</h6>
        <!-- add card images here -->
        </div>
    </div>

    <div class="copy-rights">
        <p>2024 all rights reservet to Kshop</p>
        <ul>
            <li><a href="#">Privacy Center</a></li>
            <li><a href="#">Privacy & Cookie Policy</a></li>
            <li><a href="#">Manage Cookies</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
    </div>
</footer>